<div class="row">
  <div class="col-md-8 col-md-offset-2">
        <div class="message">
          <h2 class="message-title"><%= @message.title %></h2>
          <div class="meta"><%= time_ago_in_words(@message.created_at) %> ago</div>
          <div class="description">
            <%= @message.description %>
          </div>
        </div>

      <div class="links btn-group">
        <%= link_to 'Back', root_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_message_path , class: 'btn btn-primary' %>
        <%= link_to 'Delete', message_path , method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
      </div>
  </div>
</div>